include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_datev *.css
recursive-include erpnext_datev *.csv
recursive-include erpnext_datev *.html
recursive-include erpnext_datev *.ico
recursive-include erpnext_datev *.js
recursive-include erpnext_datev *.json
recursive-include erpnext_datev *.md
recursive-include erpnext_datev *.png
recursive-include erpnext_datev *.py
recursive-include erpnext_datev *.svg
recursive-include erpnext_datev *.txt
recursive-exclude erpnext_datev *.pyc